<div *ngIf="!isAdmin" class="alert m-2 alert-info" role="alert">
    If you want to update, delete or create the employee's data. <i><a routerLink="/login"> Kindly login in as Admin.</a></i>
  </div>

<div class="card custom-margin-22 detail-card">
    <div class="card-header">
        {{employee.name}}
        <button type="button" class="close" aria-label="Close" routerLink="/list">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
    <div class="d-flex align-items-center">
        <div class="col-xs-4">
            <img [src]="employee.photoPath" alt="">
        </div>
        <div class="col-xs-8 ml-5">
            <div class="row ">
                <div class="col-xs-6">
                        {{employee.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                        <span class="font-weight-bold">Module:  </span>
                        {{employee.module}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <span class="font-weight-bold">Team Name:  </span>    
                    {{employee.teamName}}
                </div>
            </div> 
            <div *ngIf="employee.typeScriptProjectLink" class="row">
                <div class="col-xs-6">
                    <span class="font-weight-bold">Playground Typescript Project:</span>      
               </div>
            </div>
            <div *ngIf="employee.typeScriptProjectLink" class="row">
                <div class="col-xs-6">     
                    <a href="{{employee.typeScriptProjectLink}}" target="_blank" title="Link will open in new tab">{{employee.typescriptProject}}</a> 
                </div>
            </div>
            <div *ngIf="employee.angularProjectLink" class="row">
                <div class="col-xs-6">
                    <span class="font-weight-bold">Angular Project: {{employee.angularProjectLink}}  </span>      
                </div>
            </div>
            <div *ngIf="employee.angularProjectLink"  class="row">
                <div class="col-xs-6">   
                    <a href="{{employee.angularProjectLink}}" target="_blank" title="Link will open in new tab">{{employee.angularProject}}</a> 
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card-footer">
        <button *ngIf="isAdmin" class="btn btn-primary" type="button" (click)="onEdit()"> Edit </button>
        <button *ngIf="isAdmin"  class="btn btn-danger ml-2" type="button" (click)="onDelete()"> Delete </button>
    </div>

</div>




