<div class="outer-wrapper">
  <div>
    <img src="assets/images/maxresdefault.jpg">
  </div>
  <div class="details-section pt-2">
    <div class="mx-5">
      <h3><strong>About US</strong></h3>
      <p> 
          <i>
          Welcome to an application where you can find many other application/projects which have been made as part of
          <b>HERO Tech Transition program </b>. This application itself is such a project. As you all are already aware that
          members of LMS, HRIS and CRUX team went through the tech transition phase together, which started off in mid of
          August and then ended in first week of October.
          </i>
      </p>
      <p>
          <i>
          Here you are going to find the applications/projects made by the fellow colleagues who also went through this
          transition along with me. This is also a kind of reflection to our journey of 1.5 months, how it started and
          what we learnt through this. <i><a routerLink="/list">Check out projects here</a></i>
         </i>
      </p>
      <p> 
          <i>
          This project is made in Angular by using the concepts like "Router","Services","Components","Http Requests" and
          many more which we learnt in the transition phase. Also, this project used firebase realtime database for <b>CRUD operations </b>. I have created an application which contains information
          about my colleagues like which project they made, in which module/team they work in and a link to their live
          project. Clicking on the link you will be redirected to the live demo of their project which they made in
          Angular. This was not possible the support and guidance of our Mentor  <b>"Vaibhav Arora" </b>who was always their to
          help us when-ever we needed him.
          </i>
      </p>
    </div>
  </div>
</div>