<div class="outer-wrapper">
  <div>
    <img src="assets/images/maxresdefault.jpg">
  </div>
  <h3 class="m-3 text-center"><strong>Teams involved</strong></h3>
          <div class="d-flex justify-content-center">
              <div class="card text-white bg-info mb-3 text-center" style="width: 18rem;">
                <div class="card-header font-weight-bold">Learning Manager</div>
                <div class="card-body">
                  <div class="card-text font-weight-bold">
                    <p>Saurav Pahuja</p>
                    <p>Ashish Gosain</p>
                    <p>Sahil Saini</p>
                    <p>Deeksha Kumari</p>
                    <p>Ankush Sharma</p>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-info mx-3 mb-3 text-center" style="width: 18rem;">
                <div class="card-header font-weight-bold">CRUX</div>
                <div class="card-body">
                  <div class="card-text font-weight-bold mt-5">
                    <p>Karan Verma</p>
                    <p>Pushpender Singh</p>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-info mb-3 text-center" style="width: 18rem;">
                <div class="card-header font-weight-bold">HRIS</div>
                <div class="card-body">
                  <div class="card-text font-weight-bold custom-margin-top">
                    <p>Parampreet Kaur</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="mx-5">
            <h3 class="m-3 text-center"><strong>We started</strong></h3>
            <p>
              <i>
                Teams went through the tech transition phase together, which started off in mid of August and then ended in first week of October.
                This is also a kind of reflection to our journey of 1.5 months, how it started and
              what we learnt through this. <i><a routerLink="/list">Check out projects here</a></i>
            </i>
          </p>
        </div>
</div>